@model List<Cubo>
@{
    List<int> ids = Context.Session.GetObject<List<int>>("IDSCUBOS");
    List<Cubo> favoritos = memoryCache.Get<List<Cubo>>("FAVORITOS");
}

    <h1>Estos son mis cubos</h1>
    <p>
        <a asp-controller="Cubos" asp-action="CreateCubo">Crear Cubo</a>
    </p>
<p>
    <a asp-controller="Cubos" asp-action="CubosFavoritos"> Favoritos</a>
</p>
<p>
    <a asp-controller="Cubos" asp-action="CubosSession"> Cubos Session</a>
</p>

@if (ids != null)
{
    <h3 style="color:blue">Cubos Session:@ids.Count</h3>
}
else
{
    <h3 style="color:blue">Cubos Session:0</h3>
}
@if (favoritos != null)
{
    <h3 style="color:orangered">Cubos favoritos:@favoritos.Count</h3>
}
else
{
    <h3 style="color:orangered">Cubos favoritos:0</h3>
}
@if (Model != null)
{
    <table class="table table-striped-colums">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Cubo cubo in Model)
            {
                <tr>
                    <td>@cubo.IdCubo</td>
                    <td>@cubo.Nombre</td>
                    <td>@cubo.Modelo</td>
                    <td>@cubo.Marca</td>
                    <td>
                        <img src="~/images/cubos/@cubo.Imagen" style="width:50px;height:50px" />
                    </td>
                    <td>
                        @cubo.Precio
                    </td>
                    <td>
                        <a asp-controller="Cubos" asp-action="Cubos" asp-route-idcubo="@cubo.IdCubo" class="btn btn-light">Almacenar</a>
                    </td>
                    <td>
                        @if (favoritos == null)
                        {
                            <a asp-controller="Cubos" asp-action="Cubos" asp-route-idfavorito="@cubo.IdCubo" class="btn btn-dark">Favorito</a>
                        }
                        else
                        {
                            Cubo cuboFavorito =
                                favoritos.Find(x => x.IdCubo == cubo.IdCubo);
                            if (cuboFavorito == null)
                            {
                                <a asp-controller="Cubos" asp-action="Cubos" asp-route-idfavorito="@cubo.IdCubo" class="btn btn-dark">Favorito</a>
                            }
                            else
                            {
                                <img src="~/images/x.jpg" style="width:40px;height:40px" />
                            }
                        }
                    </td>
                    <td>
                        <a asp-controller="Cubos" asp-action="DetallesCubos" asp-route-idcubo="@cubo.IdCubo" class="btn btn-info">Detalles</a>
                    </td>
                    <td>
                        <a asp-controller="Cubos" asp-action="UpdateCubo" asp-route-idcubo="@cubo.IdCubo" class="btn btn-info">Actualizar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}